<div id='error_explanation'>
  <h2><%= pluralize(@ski_day.errors.count, 'error') %> prevented save:</h2>
  <ul>
    <% @ski_day.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
</div>

