// Place all the styles related to the ski_days controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font: 100% Helvetica, sans-serif;
}

div#charts_wrapper {
  margin: 0 auto;
  text-align: center;
}

div.graph_container {
  display: inline-block;
  padding: 20px;
}

canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 800px;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: red;
}

a:active {
  color: blue;
}

h3 {
  text-align: center;
}

tr {
  text-align: center;
}

.link {
  font-size: 75%;
}

.centered {
  text-align: center;
}

.centered_table {
  margin: 0px auto;
}
