// Place all the styles related to the ski_days controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font: 100% Helvetica, sans-serif;
}

tr {
  text-align: center;
}

.centered {
  text-align: center;
}

.centered_table {
  margin: 0px auto;
}
